@font-face {
  font-family: "Ganevia";
  src: url("Ganevia.ttf");
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #111;
  font-family: sans-serif;
  color: white;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.ui {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-top: 5vh;
}

input, button {
  margin: 5px;
  padding: 6px 10px;
  font-size: 14px;
}
