@font-face {
  font-family: "Ganevia";
  src: url("Ganevia.ttf");
}

body {
  margin: 0;
  overflow: hidden;
  background: #111;
  color: white;
}

#bg {
  position: fixed;
  inset: 0;
  z-index: 0;
}

#export {
  display: none;
}

.ui {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-top: 18vh;
}

input, button {
  font-size: 16px;
  padding: 8px;
}

#output {
  font-family: "Ganevia";
  font-size: 80px;
  margin-top: 25px;
  text-shadow:
    -4px -4px black,
     4px -4px black,
    -4px  4px black,
     4px  4px black;
}
